{% load humanize %}
<div class="bg-white">
  <div class="mx-auto max-w-2xl px-4 pt-8 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="text-2xl mb-8">
      <h2 class="font-semibold leading-6 text-gray-900">All Products</h2>
    </div>
    <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
      {% for product in products %}
        <div class="group relative flex flex-col overflow-hidden rounded-lg border border-gray-200 bg-white">
          <div class="aspect-h-4 aspect-w-3 bg-gray-200 sm:aspect-none sm:h-96">
            <img src="{{ product.images.0 }}"
                 alt="Front of plain black t-shirt."
                 class="h-full w-full object-cover object-center sm:h-full sm:w-full group-hover:hidden" />
            <img src="{{ product.images.1 }}"
                 alt="Front of plain black t-shirt."
                 class="hidden h-full w-full object-cover object-center sm:h-full sm:w-full group-hover:block" />
          </div>
          <div class="flex flex-1 flex-col space-y-2 p-4">
            <h3 class="text-sm text-gray-700">
              <a href="{% url 'product-detail' product.id %}">
                <span class="absolute inset-0"></span>
                {{ product.name }}
              </a>
            </h3>
            <p class="mt-1 font-medium text-gray-900">₦{{ product.price | floatformat:2 | intcomma }}</p>
            <div class="gr z-10 flex flex-1 flex-col justify-end gap-y-2">
              <button type="button"
                      class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500">
                Buy it now
              </button>
              <button type="button"
                      class="rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                Add to bag
              </button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
